<!DOCTYPE html>
<head>
    <link rel="icon" href="data:;base64,=">
</head>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ComputerVision_NTN08</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <nav class="light-blue">
    <div class="nav-wrapper">
        <a href="/" class="brand-name"> <b>Computer Vision NTN08</b></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/applications">Applications</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/about_me">About me</a></li>
      </ul>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

<br><br>

</body>
<script>M.AutoInit()</script>
</html>